name: CI Checks
on: pull_request

jobs:
  ci:
    name: Run Build and check output is checked-in
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 10.x
    - name: 'Build'
      run: |
        cd action
        npm install
        npm run build
    - name: Check no files have changes
      run: git diff --exit-code
  unit-tests:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 10.x
    - name: Install NPM Packages
      run: |
        cd action
        npm install
    - name: Run Unit Tests
      run: |
        cd action
        npm run test -- --coverage
      env:
        GITHUB_SSH_PRIVATE_KEY: ${{ secrets.TESTING_PRIVATE_KEY }}
        GITHUB_SELF_TEST_REPO: ${{ github.repository }}
        GITHUB_SELF_TEST_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Check Linting
      run: |
        cd action
        npm run lint
    - name: Submit to CodeCov
      uses: codecov/codecov-action@v1
      with:
        file: ./action/coverage/lcov.info
        fail_ci_if_error: false
